@using MaasVallei.Models
@using System.Xml
@using System.Security.Claims
@model List<RoosterModel>

@{
    ViewData["Title"] = "Roosters";
    Layout = "_PanelLayout";

    var employeeSpecificSchedule = Model.Where(x => x.User.Id == User.FindFirstValue(ClaimTypes.UserData));
}


@if (User.IsInRole("ADMIN"))
{
    @await Component.InvokeAsync("Rooster")
}
<div class="container main">
    <table class="table table-striped table-bordered table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th>Maandag</th>
                <th>Dinsdag</th>
                <th>Woensdag</th>
                <th>Donderdag</th>
                <th>Vrijdag</th>
                <th>Zaterdag</th>
                <th>Zondag</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < 7; i++)
            {
                if (!User.IsInRole("ADMIN") && !employeeSpecificSchedule.Any())
                {
                    break;
                }
                if (!Model.Any())
                {
                    break;
                }
                <tr>
                    @foreach (var schedule in User.IsInRole("ADMIN") ? Model.OrderBy(x => (int)x.StartShift.DayOfWeek) : employeeSpecificSchedule.OrderBy(x => (int)x.StartShift.DayOfWeek))
                    {
                        switch (schedule.StartShift.DayOfWeek)
                        {
                            case DayOfWeek.Monday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Tuesday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username<br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Wednesday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Thursday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Friday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Saturday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                            case DayOfWeek.Sunday:
                                {
                                    for (var j = 1; j < 8; j++)
                                    {
                                        if ((int)schedule.StartShift.DayOfWeek == j)
                                        {
                                            <td>@schedule.User.Username <br/> @schedule.StartShift.ToString("MM/dd HH:mm tt") - @schedule.EndShift.ToString("MM/dd HH:mm tt")</td>
                                            continue;
                                        }
                                        <td></td>
                                    }
                                    break;
                                }
                        }
                        Model.RemoveAt(Model.IndexOf(schedule));
                        break;
                    }
                </tr>
            }
        </tbody>
    </table>
</div>